*{
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 1rem;
	font-family: "segoe ui";
	color: #33333c
}
body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
#footer{
	flex-grow: 1;
}
#header{
	flex-grow: 0.8
}
#body{
	display: flex;
	flex-direction: row;
}
#informer{
	background:linear-gradient(120deg, #ff4444cc, #ff5555ee);
	color:#fff;
	border-radius: 4px;
	padding:10px 11px;
}
.contain-slide{
	animation:slide 0.2s forwards;
	overflow:hidden;
	height:0;
	margin-bottom:10px;
	display:none;
}
@keyframes slide{
	100%{height:41px}
}
#form-header{
	text-align:center;
	font-size:1.5rem;
	margin-bottom:10px;
}
#body > div:not(#form){
	flex-grow: 0;
}
#form{
	padding: 1rem;
	border-radius: 10px;
	flex-grow:1;
}
@media all and (min-width:700px) and (min-height:400px){
	#body > div:not(#form){
		flex-grow: 1;
	}
	#form{
		flex-basis:400px;
		flex-grow:0;
		border-radius:12px;
		box-shadow:2px 2px 10px rgba(0,0,0,0.08);
	}
}
label{
	display: block;
	position: relative;
}
.inp{
	border-radius: 4px;
	padding: 8px 11px;
	border: solid 1px #eee;
	margin: 8px 0;
	width: 100%;
	transition: 0.2s;
	background: transparent;
}
.inp:focus{
	border: solid 2px #309bff;
	padding: 7px 10px;
}
.placeholder{
	position: absolute;
	top:16px;
	left:8px;
	background: #fff;
	padding: 0 3px;
	transition: 0.15s;
	user-select: none;
	color: #cfcfcf;
}
.inp:focus + .placeholder, .active + .placeholder{
	color: #309bff;
	font-size: 0.82em;
	transform: translateY(-18px);
}
.active + .placeholder{
	color: #33333c;
}
.forget{
	color:inherit;
	text-decoration: none;
	color: #309bff;
	float:left;
}
.forget:active{
	text-decoration: underline;
}
#others *{
	font-size: 0.9rem;
}
#show{
	float:right;
	padding: 4px;
}
#show + div{
	clear: both;
}
.btn{
	border-radius: 4px;
	padding: 10px 0;
	text-align: center;
	margin: 10px 0;
}
#login{
	background: linear-gradient(120deg, #59afff, #148cfc);
	color: #fff;
	box-shadow: 2px 2px 10px 3px #309fff40
}
#login.clicked{
	background: #59afffdd;
}
#reg{
	background: linear-gradient(120deg, #f4f4f4, #efefef);
	color:#309bff;
}
#separator{
	display: flex;
	flex-direction: row;
	margin: 15px 0 12px
}
.dash{
	flex-grow: 1;
	border-bottom: solid 1px #eee;
	height: 0.5rem;
	margin: 0 8px;
}
	
	
	
	
	