*{
	color:#33333c;
	font-family:"segoe ui";
}
body{
	padding:0;
	margin:0;
}
#container{
	background: #fff;
	/*width:90vw;
	margin:0 auto;
	border-radius:12px;
	box-shadow:1px 1px 10px rgba(0,0,0,0.08);
	box-sizing:border-box;*/
	margin-top:6.25em;
	padding:10px 20px 30px;
}
#header{
	font-size:24px;
	text-align: center;
	margin:10px 0 15px;
	font-weight:400;
}
#login-form{
	display:flex;
	flex-direction:column;
}
#login-form > label{
	position:relative;
	padding:0;
	display:flex;
	flex-direction: column
}
#username-label{
	margin:8px 0 16px;
}

.inp{
	padding:8px 10px;
	border:solid 1px #ddd;
	outline:none;
	font-size:1em;
	border-radius:3px;
	transition:0.1s;
}
.inp:focus{
	padding:7px 9px;
	border:solid 2px #0099ff;
	border-radius:4px;
}
.placeholder{
	position: absolute;
	left:7px;
	top:8px;
	background:#fff;
	padding:0px 4px;
	color:#aaa;
}
.inp:focus + .placeholder, .activeInp{
	transform:translateY(-17px);
	font-size:0.9em;
	transition:0.15s;
	color:inherit;
}
.inp:focus + .placeholder{
	color:#0099ff;
}
#forget-password{
	padding-left:1px;
	font-size:0.95em;
	margin:14px 0 20px;
	color:#0099ff;
	text-decoration:none;
}
#forget-password:visited{
	text-decoration: underline;
}

#login-btn, #new-acc{
	outline:none;
	border:0;
	border-radius:4px;
	background:linear-gradient(135deg, #00aaff, #0088ff);
	color:#fafafa;
	padding:9px;
	cursor:pointer;
	font-size:1em;
	text-align:center;
}
#separator{
	display:flex;
	flex-direction: row;
	margin:12px;
}
#separator > div{
	flex-grow:1;
	border-bottom:solid 1px #ccc;
	height:0.7em;
}
#separator span{
	padding:0 10px;
	height:1em;
}
#register{
	text-decoration:none;
}
#new-acc{
	background:linear-gradient(135deg, #efefef, #ebebeb);
	color:#0099ff;
}